{{!< layout}}
<div>audio recorder</div>
<audio src="" controls="true" id="audio-recorder"></audio>
<script>
  AP.user.getCurrentUser(function (user) {
    console.log("The Atlassian Account ID is", user.atlassianAccountId);
  });

  AP.context.getContext(function (response) {
    console.log("inside");
    console.log("response of context", response);
  });

  AP.confluence.getMacroData(function (data) {
    console.log("macro data", data);
    const audio_recorder = document.getElementById("audio-recorder");
    audio_recorder.setAttribute("src", data.url);
  });

  AP.confluence.getMacroBody(function (body) {
    console.log("macro body", body);
  });
</script>
