{{!< layout}}

<h1>hello boyss7!!</h1>
<button onclick="myFunction()">open popup!!</button>
<script>
  var content_id;
  let params = `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,width=600,height=300,left=100,top=100`;

  function myFunction() {
    console.log("launching popup");
    new_popup = window.open("./popup.html", "popup", params);
  }

  AP.navigator.getLocation(function (location) {
    content_id = location.context.contentId;
  });

  function func() {
    console.log("content", content_id);
    console.log("audiofile", audiofile);
    AP.request({
      url: `/rest/api/content/${content_id}/child/attachment`,
      type: "POST",
      contentType: "multipart/form-data",
      data: { file: audiofile, minorEdit: true },
      success: function (responseText) {
        const audio_files = JSON.parse(responseText);
        console.log("success", audio_files);
        const audio_url =
          audio_files._links.base + audio_files.results[0]._links.download;
        const name = audio_files.results[0].id;
        const json_data = {
          value: {
            title: name,
            url: audio_url,
          },
        };
        console.log("json_data", json_data);
        AP.confluence.saveMacro({ url: audio_url }, "a new macro body");
      },
      error: function (xhr, statusText, errorThrown) {
        console.log("body is being saved!!");
        AP.confluence.saveMacro({ fop: "bap" }, "a new macro body");
        new_popup.close();
        AP.confluence.closeMacroEditor();
        console.log(arguments);
      },
    });
  }
</script>
